---
---

@import "{{ site.theme }}";


ul ul { margin-bottom: 0; }


header ul {
  // Clear Theme Styles
  height: auto;
  background: none;
  border: none;
  width: 100%;

  & li {
    // Clear Theme Styles    
    display: block;
    width: 100%;
    float: none;
    border-right: none;
    height: auto;

    & a {
      // Clear Theme Styles  
      font-size: 16px;
      color: #39c;
      text-align: left;
      padding-top: 8px;
      padding-bottom: 8px;
      height: auto;
    }
  }
}

header .nav {
  
  & > li,
  & .nav__list {
    padding-left: 8px;
  }
}
